@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
}

                  body{
                        font-family: Arial, Helvetica, sans-serif;
                        background-color: #7cdb6ea4;
                         font-weight: normal;
                         
                         

                      }
 
             @font-face {
                        font-family: android;
                        src: url(fontes/idroid.otf)format(opentype);
                        
                       }

                       a.externo::after{
                        content: '\00A0\1F517';
                       }
                       


                    header{
                            background-image: linear-gradient(to bottom,#0f5505a4, #46a8369d);
                            color: white;
                            box-shadow: 1px 1px 10px rgba(17, 16, 16, 0.541);
                            margin: auto;
                            min-height: 120px;
                            padding: 18px; 
                          }

                header> h1{
                            font-family: Arial, Helvetica, sans-serif;
                            color: white;
                            text-align: center;
                            font-size: 3em;
                            text-shadow: 1px 2px black;     
                          }

                 header> p{
                             text-align: center;
                             font-size: 20px;
                            text-shadow: 1px 2px black;
                          }

                      nav a{
                             text-align: left;
                             color: rgb(252, 252, 252);
                             padding: 10px;
                             text-decoration: none;
                             font-weight: bolder;  
                             
                           }
                nav> :hover{
                            background-color: rgba(45, 107, 45, 0.795) ;
                            border-radius: 15px;
                            
                           }
 

                       main{
                            background-color: white;
                            border-radius: 10px;
                            max-width: 850px;    
                            min-width: 300px;
                            margin: auto;
                            box-shadow: 0px 0px 10px rgba(41, 39, 39, 0.5);
                            margin-bottom: 20px;
                            
                           }
                           main a:hover{
                            text-decoration: underline;
                           }
 
                 main> img{
                            width: 100%;
                            margin-left: 100px;
                            
    
                          }
 
          main img.pequena{
                           margin: auto;
                           display: block;
                           max-width: 330px;
                          }

                        h1{
                            font-family: android;
                            src: url(fontes/idroid.otf)format(opentype);
                            color: #38752fc7;
                            text-indent: 15px;

                          }


                        h2{
                           background-image: linear-gradient(to right,#0f5505a4, #45a8366b);
                           color: rgb(8, 124, 8);
                           font-family: android;
                           src: url(fontes/idroid.otf)format(opentype);
                           text-indent: 20px;
                           font-size: 1.2em;
                          }
                        


                        p{
                            text-indent: 30px;
                            margin: 13px 0px;
                            line-height: 2em;
                        }

                        p>a{
                            background-color: rgba(117, 221, 117, 0.479);
                            text-decoration: none;
                            font-weight: bolder;
                        }

                    aside{
                      background-color: #3a5a3c42;
                      width: 750px;
                      padding: 30px;
                      margin: auto;
                      border-radius: 20px;
                      height: 600px;
                      padding-top: 2px;
                      padding-left: 3px;
                      padding-right: 3px;
                      box-shadow: 3px 3px rgba(2, 2, 2, 0.253);
                      width: 95%;
                    }
                aside > ul{
                           list-style-type: '\2714\00A0\00A0';
                           columns: 2;
                           list-style-position: inside;

                          }


                 aside> h3{
                            background-color: #38752F;
                            color: white;
                            padding: 10px;
                            margin: -2px -2px 10px -2px;
                            border-radius: 10px 10px 0px 0px;
                            
                            
                            

                        
                         }

                        footer{
                            background-color: black;
                            color: white;
                            height: 30px;
                            text-align: center;
                            font-size: 0.7em;
                                   
                           }
                    
                
                     
                    strong{
                            color: #38752F;

                        }
                        
               div.video{
                          background-color:#38752F ;
                          margin: 0px -1px 40px 0px;
                          position: relative;
                          padding: 30px;
                          padding-bottom: 55%;
                          
                        }
                        
                        div.video> iframe{
                          position: absolute;
                          top: 4%;
                          left: 5%;
                          width: 90%;
                          height: 90%;
                          
                         
                         

                          
                          
                        }

